label{
  font-family: 'Lato';
  font-weight: 600;
  font-size: .7rem;
  color: #134102;
}
.form-control{
  font-size: .65rem;
  border-color: transparent !important;
  border-radius: .6rem;
  height: auto;
}
.form-group{
  margin-bottom: .5rem;
}
